.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 26px;
  transition: transform 0.2s, box-shadow 0.2s;
  max-width: 300px;
  min-width: 300px;
  margin-bottom: 2.5rem;
}

:global(.dark-theme) .card {
  background: var(--dark-card);
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.08);
  color: var(--text-color);
}
.color {
  position: relative; /* add this */
  height: 4vh;
  flex: 1; /* so they split the row evenly */
  cursor: pointer;
}

.colorRow {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.color::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* white overlay, adjust for light/dark */
  backdrop-filter: blur(2.5px); /* controls softness */
  opacity: 0;
  z-index: 1;
  transition: opacity 0.16s;
}

.color:hover::before {
  opacity: 1;
}

.color:hover::after {
  content: "";
  position: absolute;
  top: 50%; /* center vertically */
  right: 30%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  z-index: 2;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path fill="%23000000" d="M288 64C252.7 64 224 92.7 224 128L224 384C224 419.3 252.7 448 288 448L480 448C515.3 448 544 419.3 544 384L544 183.4C544 166 536.9 149.3 524.3 137.2L466.6 81.8C454.7 70.4 438.8 64 422.3 64L288 64zM160 192C124.7 192 96 220.7 96 256L96 512C96 547.3 124.7 576 160 576L352 576C387.3 576 416 547.3 416 512L416 496L352 496L352 512L160 512L160 256L176 256L176 192L160 192z"/></svg>');
  opacity: 1;
}
