.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 26px;
  transition: transform 0.2s, box-shadow 0.2s;
  max-width: 300px;
  min-width: 300px;
  margin-bottom: 2.5rem;
}

:global(.dark-theme) .card {
  background: var(--dark-card);
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.08);
  color: var(--text-color);
}

.color {
  height: 4vh;
  width: 100%;
  cursor: pointer;
}

.colorRow {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}
