.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 26px;
  transition: transform 0.2s, box-shadow 0.2s;

  height: 700px;
  background: #ffffff;
}

:global(.dark-theme) .card {
  background: var(--dark-card);
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.08);
  color: var(--text-color);
}

.flowContainer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.MacButtons {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  padding: 10px 14px;
  border-radius: 8px;
  backdrop-filter: blur(10px); /* gives a soft translucent look */
  background-color: rgba(148, 148, 148, 0.15); /* light mode */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease, border 0.3s ease;
}

/* Dark theme adjustments */
:global(.dark-theme) .MacButtons {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

/* Optional hover effect for buttons inside */
.MacButtons button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.redButton,
.greenButton {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.redButton {
  background-color: #ff5f56;
}

.greenButton {
  background-color: #27c93f;
}

.card.fullscreen {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  /* min-width: 900px; */
  width: 80vw;
  height: 90vh;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.overlayWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.pageBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.2); /* dim the background a bit */
  z-index: 9998; /* behind the card */
}
