.overlayWrapper {
  position: relative;
}
.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 8px;
  min-width: 220px;
  max-width: 260px;
  overflow-x: auto;
  overflow-y: auto; /* allow vertical scroll */

  /* hide scrollbar for Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* hide scrollbar for Firefox */
  scrollbar-width: none;

  /* hide scrollbar for IE, Edge Legacy */
  -ms-overflow-style: none;
  height: 50vh;

  /* Optional: smoother scrolling */
  scroll-behavior: smooth;
}

.card.fullscreen {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw !important;
  max-width: 1200px !important;
  height: 90vh;
  align-items: center;
  padding: 20px;
  background: #ffffff;
  box-sizing: border-box;
  overflow: auto;
  z-index: 9999;
}

/* Dark theme card */
:global(.dark-theme) .card {
  background: var(--dark-card);
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.08);
  color: var(--text-color);
}
.pageBlur {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 9000;
}
.cardTitle {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.stackList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stackItem {
  padding: 4px 0;
  font-size: 1rem;
  color: #555;
}
