.overlayWrapper {
  position: relative;
}
.cardContent {
  padding: 16px;
}
.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 8px;
  width: 22vw;
  min-width: 270px;
  max-width: 320px;
  overflow-x: auto;
  overflow-y: auto; /* allow vertical scroll */
  /* hide scrollbar for Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  /* hide scrollbar for Firefox */
  scrollbar-width: none;
  /* hide scrollbar for IE, Edge Legacy */
  -ms-overflow-style: none;
  height: 50vh;
  /* Optional: smoother scrolling */
  scroll-behavior: smooth;
}

.card.fullscreen {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw !important;
  max-width: 1200px !important;
  height: 90vh;
  align-items: center;
  background: #ffffff;
  box-sizing: border-box;
  overflow: auto;
  z-index: 9999;
}

/* Dark theme card */
:global(.dark-theme) .card {
  background: var(--dark-card);
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.08);
  color: var(--text-color);
}
.pageBlur {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 9000;
}

.cardTitle {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.stackList {
  list-style-type: none;
  padding-left: 0; /* remove default ul padding */
  margin: 0;
}
.stackList li {
  padding-bottom: 8px; /* space before the line */
  margin-bottom: 8px; /* space after the line */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* subtle line */
}
.detailsBox {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgb(34 44 69 / 0.05);
}

.detailsBox .name {
  flex-grow: 1;
  color: var(--para);
}

.detailsBox .price {
  background-color: transparent;
  border: 1.5px solid #22c55e; /* accent green */
  border-radius: 16px;
  padding: 2px 14px;
  color: #22c55e;
  font-size: 12px;
  margin-left: 16px;
  white-space: nowrap;
  flex-shrink: 0;
}

.headingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
