.chatBtn {
  border: none;
  border-radius: var(--btn-radius);
  padding: 12px;
  color: white;
  background-color: black;
}

:global(.dark-theme) .chatBtn {
  background-color: white;
  color: black;
}

.ChatBox {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background: #dcdbdb;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

:global(.dark-theme) .ChatBox {
  background: #1e1f23;
}

/* Messages */
.messagesArea {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  gap: 12px;

  background-image: url("/images/chat/vegapunk.svg");
  background-size: contain; /* or cover */
  background-repeat: no-repeat;
  background-position: center;
}

.botMessage {
  max-width: 80%;
  background: #2f3138;
  color: #fff;
  padding: 10px 14px;
  border-radius: 8px;
}

.userMessage {
  max-width: 80%;
  align-self: flex-end;
  background: #4c65f6;
  color: #fff;
  padding: 10px 14px;
  border-radius: 8px;
}

/* Input Area */
.inputArea {
  display: flex;
  padding: 10px;
  gap: 10px;
  background-color: white;
}

:global(.dark-theme).inputArea {
  background: #2a2b32;
}

.chatInput {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #f5f5f5;
  color: #000;
}

:global(.dark-theme) .chatInput {
  background: #34353c;
}

.sendBtn,
.micBtn {
  background: #4c65f6;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.micBtn {
  background: #3a3c43;
}

.ChatBox.fullscreen {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 500px;
  max-width: 600px !important;
  height: 80vh;
  box-sizing: border-box;
  overflow: auto;
  z-index: 9999;
}
