/* Sidebar.module.css */
/* .container {
  padding-left: 3vw;
} */

.uiElementsContainer {
  margin-left: 3vw;
}

.chatContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
