/* Sidebar.module.css */
.container {
  padding-left: 3vw;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 9.25vh;
  bottom: 0;
  width: 4vw;
  min-width: 50px;
  background: #222;
  color: #fff;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

:global(.dark-theme) .sidebar {
  background: var(--dark-card);
}

.sidebar.open {
  width: 200px;
}
.hamburger {
  background: none;
  border: none;
  color: inherit;
  font-size: 1.8rem;
  margin: 1rem 0;
  cursor: pointer;
}
.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}
.links p {
  padding: 0.75rem 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  transition: background 0.2s ease;
}
.links p:hover {
  background: #444;
}

.versionScrollBar {
  position: fixed;
  right: 1vw;
  padding-top: 10px;
  z-index: 2;
}

:global(.dark-theme) .versionBtn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
