/* Sidebar.module.css */
/* .container {
  padding-left: 3vw;
} */

.uiElementsContainer {
  margin-left: 3vw;
}

.topBar {
  display: flex;
  justify-content: space-between; /* space between menu and dropdown */
  align-items: center; /* vertically align */
  padding: 10px 20px;
  color: white;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4vw;
  min-width: 50px;
  background: #222;
  color: #fff;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

:global(.dark-theme) .sidebar {
  background: var(--dark-card);
}

.sidebar.open {
  width: 200px;
}
.hamburger {
  background: none;
  margin-top: 11vh;
  border: none;
  color: inherit;
  font-size: 1.8rem;
  cursor: pointer;
}
.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}
.links p {
  padding: 0.75rem 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  transition: background 0.2s ease;
}
.links p:hover {
  background: #444;
}

.menuBar {
  display: flex;
  justify-content: center; /* center items horizontally */
  background-color: black;
  color: white;
  padding: 10px 0;
  width: 35vw;
  font-size: 2vh;
  z-index: 10;
  min-width: 500px;
  gap: 40px; /* space between items */
  border-bottom: 1px solid #333; /* subtle separation line */
  margin: 0 auto;
}

.menuBar button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
}

.menuBar button:hover {
  background-color: #222;
  border-radius: 4px;
}

.activeMenuItem {
  background: #fff !important; /* or any highlight color */
  color: black !important;
  border-radius: 4px;
}

.versionScrollBar {
  position: fixed;
  right: 1vw;
  padding-top: 10px;
  z-index: 2;
}

:global(.dark-theme) .versionBtn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
